<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="vm.toggleLeft()" >
          <i class="material-icons">reorder</i>
        </md-button>
        <h2>
          <span style="color: white;">{{vm.title}}</span>
        </h2>
        <span flex></span>
        <div layout="row">
          <md-tooltip>Pontos</md-tooltip>
          <md-icon class="material-icons">attach_money</md-icon>
          <span > {{vm.totalPoints}} </span>
        </div>
          
   </div>
</md-toolbar>



<div layout="column">
  <section layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-whiteframe="4">
      <md-toolbar class="md-tall md-hue-2" 
      style="background-image:url(/img/login-background.jpg);background-size: cover;">
      <span flex></span>
      <div layout="column" class="md-toolbar-tools-bottom inset">

        <span></span>
        <div>
          <img src="{{vm.user.image}}" class="md-card-menu" ng-if="vm.user.image">
          <img src="/img/click-avatar.png" class="md-card-menu" ng-if="!vm.user.image">
        </div>
        <div style="margin-left: 12px;">{{vm.user.name}}</div>
        <div style="margin-left: 12px;">{{vm.user.email}}</div>
      </div>
    </md-toolbar>
    <md-list>
      <md-item ng-repeat="item in vm.menu">
        <a href="" ng-click="vm.onClickMenu(item.link)">
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <i class="material-icons">{{item.icon}}</i>
            </div>
            <div class="inset">{{item.title}}</div>
          </md-item-content>
        </a>
      </md-item>
    </md-list>
  </md-sidenav>
  <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
</section>
</div>






