<ion-view view-title="Posts">
  <ion-content has-header="true" has-footer="true" direction="y" class="has-footer">
    <md-content id="dynamic-content" class="f-clear-padding">
      <div class="md-accordion" ng-repeat="data in vm.data.faqs">
        <!-- <md-toolbar ng-init="data.expanded = false" ng-click="data.expanded = !data.expanded"> this was the code in demo-->
        <md-toolbar ng-init="data.expanded = false" ng-click="toggleView(vm.data.faqs, data, $index)">
        <div class="md-toolbar-tools">
          <!-- <h2> -->
          <div ng-bind="data.question"></div>
          <!-- </h2> -->
        <div flex=""></div>
        <div ng-class="{expandCollapse:true, active:data.expanded}"></div>
        </div>
        </md-toolbar>
        <div style="overflow:scroll" ng-class="{dataContent:true, activeContent:data.expanded}">
          <div style="padding:10px" ng-bind-html="data.answer"></div>
        </div>
      <div>
    </md-content>
  </ion-content>
</ion-view>
