<ion-view view-title="Profile">
  <ion-content has-header="true" has-footer="true" direction="y" class="has-footer">
    <h4 class="sub-title">Perfil</h4>
      <section vertical layout center>
       <!--first card-->
       <md-card cross-fade class="card">
       <center>
         <img src="{{vm.user.image}}" class="md-card" ng-if="vm.user.image">
          <img src="/img/click-avatar.png" class="md-card" ng-if="!vm.user.image">
        </center>
         <md-card-content>
           <md-item-content layout-align="start start">
              <md-list>
                <md-item>
                  <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                      <md-icon class="material-icons">person</md-icon>
                    </div>
                    <div class="inset">
                      <label class="h4-profile">{{vm.user.name}}</label>
                    </div>
                  </md-item-content>
                </md-item>
                <md-item>
                  <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                      <md-icon class="material-icons">contact_mail</md-icon>
                    </div>
                    <div class="inset">
                      <label class="h4-profile">{{vm.user.email}}</label>
                    </div>
                  </md-item-content>
                </md-item>
                <md-item>
                  <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                      <md-icon class="material-icons">contact_phone</md-icon>
                    </div>
                    <div class="inset">
                      <label class="h4-profile">9999-9999</label>
                    </div>
                  </md-item-content>
                </md-item>
                <md-item>
                  <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                      <md-icon class="material-icons">monetization_on</md-icon>
                    </div>
                    <div class="inset">
                      <label class="h4-profile">1200</label>
                    </div>
                  </md-item-content>
                </md-item>
                <md-item>
                  <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                      <md-icon class="material-icons">local_play</md-icon>
                    </div>
                    <div class="inset">
                      <label class="h4-profile">Cupons ativos: 5</label>
                    </div>
                  </md-item-content>
                </md-item>
            </md-list>

          </md-item-content>
        </md-card-content>
      </md-card>
    </section>

    
  </ion-content>
</ion-view>
