<ion-view view-title="Login" align-title="left">
  <ion-content style="background: url(img/login-background.jpg) center; background-size: cover;" direction="y">
    <div class="group">
     <div layout="row" layout-align="center center">
       <img src="img/logo.png" class="login_logo">
     </div>

     <form class="register-form" name="signupForm" ng-show="!vm.data.loginForm" novalidate="" ng-submit="vm.signup(signupForm)">

      <md-input-container>
        <label>Nome</label>
        <input type="text" name="first_name" ng-model="vm.data.form.name.first" 
        ng-minlength="5" ng-maxlength="20" required style="border-bottom-style: solid">
        <div class="error-container" ng-show="signupForm.first_name.$touched" 
        ng-messages="signupForm.first_name.$error">
        <div ng-messages-include="error-list.html"></div>
      </div>  
    </md-input-container>

    <md-input-container>
      <label>Sobrenome</label>
      <input type="text" name="last_name" ng-model="vm.data.form.name.last" 
      ng-minlength="5" ng-maxlength="20" required style="border-bottom-style: solid">
      <div class="error-container" ng-show="signupForm.last_name.$touched" ng-messages="signupForm.last_name.$error">
        <div ng-messages-include="error-list.html"></div>
      </div>
    </md-input-container>

    <md-input-container>
      <label>Data Nascimento</label>
      <input type="date" name="birthDate" ng-model="vm.data.form.birthDate" required 
      style="border-bottom-style: solid">
      <div class="error-container" ng-show="signupForm.birthDate.$touched" ng-messages="signupForm.birthDate.$error">
        <div ng-messages-include="error-list.html"></div>
      </div>
    </md-input-container>

    <md-input-container>
      <label>State</label>
      <md-select ng-model="vm.data.form.gender">
        <md-option ng-value="Masculino">
          Masculino
        </md-option>
        <md-option ng-value="Feminino">
          Feminino
        </md-option>
      </md-select>
      <div class="error-container" ng-show="signupForm.gender.$touched" ng-messages="signupForm.gender.$error">
        <div ng-messages-include="error-list.html"></div>
      </div>
    </md-input-container>

    <md-input-container>
      <label>E-mail</label>
      <input type="email" name="email" ng-model="vm.data.form.email" 
      ng-minlength="5" ng-maxlength="20" required style="border-bottom-style: solid">
      <div class="error-container" ng-show="signupForm.email.$touched" ng-messages="signupForm.email.$error">
        <div ng-messages-include="error-list.html"></div>
      </div>
    </md-input-container>

    <md-input-container>
      <label>Usuario</label>
      <input type="text" name="username" ng-model="vm.data.form.username" 
      ng-minlength="5" ng-maxlength="20" required style="border-bottom-style: solid">
      <div class="error-container" ng-show="signupForm.username.$touched" ng-messages="signupForm.username.$error">
        <div ng-messages-include="error-list.html"></div>
      </div>
    </md-input-container>

    <md-input-container>
      <label>Senha</label>
      <input type="password" name="password" ng-model="vm.data.form.password" 
      ng-minlength="5" ng-maxlength="20" required style="border-bottom-style: solid">
      <div class="error-container" ng-show="signupForm.password.$touched" ng-messages="signupForm.password.$error">
        <div ng-messages-include="error-list.html"></div>
      </div>
    </md-input-container>
    <div layout="row" layout-align="space-between center">
      <p class="message p-login">Receber novidades</p>
      <md-switch ng-model="novidades" aria-label="novidades" ng-true-value="'true'" 
      ng-false-value="'false'" class="md-warn" style="margin-top: -10px";>
    </md-switch>
  </div>
  <div layout="row" layout-align="space-between center">
    <p class="message p-login">Concordo com os 
      <a href="javascript:;" ng-click="vm.modalShowTermos($event)" style="color: aliceblue;">
        Termos de Uso
      </a>
    </p>
    <md-switch ng-model="termos" aria-label="termos" ng-true-value="'true'" 
    ng-false-value="'false'" class="md-warn" style="margin-top: -10px";>
  </md-switch>
</div>
<md-input-container>
  <md-button md-no-ink="" class="md-raised md-primary md-button-login" type="submit" 
  ng-disabled = "!signupForm.$valid">Cadastre-se</md-button>
</md-input-container>
<p class="message p-login">Já possui cadastro? <a href="javascript:;" ng-click="vm.data.loginForm=!vm.data.loginForm">Faça o login</a></p>
</form>

<!-- #####-----###### -->

<form class="login-form" name="signinForm" ng-show="vm.data.loginForm"  ng-submit="vm.signin(signinForm)">
  <md-input-container>
    <label>Usuario</label>
    <input type="text" ng-model="vm.data.form.username" ng-minlength="5" ng-maxlength="20" required style="border-bottom-style: solid">
  </md-input-container>

  <md-input-container>
    <label>Senha</label>
    <input type="password" ng-model="vm.data.form.password" ng-minlength="5" ng-maxlength="20" required>
  </md-input-container>
  <md-input-container>
    <md-button md-no-ink="" class="md-raised md-primary md-button-login" type="submit" 
    ng-disabled = "!signinForm.$valid">Login</md-button>
  </md-input-container>
  <p class="message p-login">Não possui cadastro? <a href="javascript:;" ng-click="vm.data.loginForm=!vm.data.loginForm">Cadastre-se</a></p>
  <p class="message p-login">Esqueceu a senha? <a href="javascript:;" ng-click="vm.modalShowResetPassword($event)">Recuperar Senha</a></p>

</form>

<a ng-click="vm.login('google')" class="button icon-left ion-social-google  button-assertive  button-block big">Conectar com Google</a>
<!-- <a  ng-click="login('facebook')" class="button icon-left ion-social-facebook  button-positive button-block">Conectar com Facebook</a> -->
</div>




<!--  <div class="padding"> -->
<!--      <div class="col"> -->
<!--            <a  ng-click="login('google')" class="button icon-left ion-social-google  button-assertive  button-block big">Conectar com Google</a>                -->
<!--            <a  ng-click="login('facebook')" class="button icon-left ion-social-facebook  button-positive button-block">Conectar com Facebook</a> -->
<!--            <\!-- <a  ng-click="login('instagram')" class="button icon-left ion-social-instagram  button-royal  button-block big">Conectar com Insta</a>                -\-> -->
<!--            <\!-- <a  ng-click="login('linkedin')" class="button icon-left ion-social-linkedin  button-calm button-block">Conectar com LinkedIN</a> -\-> -->
<!--      </div> -->
<!--  </div> -->
<!-- </div> -->

<script type="text/ng-template" id="recoverPassword.tmpl.html">
  <md-dialog aria-label="Mango (Fruit)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Recuperar senha</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon md-svg-src="img/icons/ic_highlight_off_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-content class="md-padding">
        <form name="reset_password_form" novalidate ng-submit="reset_password_form.$valid && vm.resetPassword()">
          <h1 class="title">Insira seu e-mail</h1>
          <h3 class="title">que enviaremos uma mensagem para você</h3>
          <md-input-container md-no-float class="md-block" md-is-error="reset_password_form.email.$invalid && (reset_password_form.$submitted || reset_password_form.email.$dirty)">
            <input type="email" name="email" placeholder="E-mail" ng-model="vm.data.form.email" required>
          </md-input-container>
          <div ng-messages="reset_password_form.email.$error" 
          ng-show="reset_password_form.email.$dirty">
          <div ng-message="required">This is required!</div>
        </div>  
        <md-button class="md-raised md-primary" type="submit">Primary</md-button>
      </form>
    </md-content>
  </md-dialog-content>
</md-dialog>
</script>

<script type="text/ng-template" id="termos.tmpl.html">
  <md-dialog aria-label="Mango (Fruit)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Termos de Uso</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon md-svg-src="img/icons/ic_highlight_off_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-content class="md-padding">
      <termos></termos>
     </md-content>
   </md-dialog-content>
 </md-dialog>
</script>

<script id="templates/change_password.html" type="text/ng-template">
 <ion-modal-view>
   <ion-header-bar class="bar bar-header bar-positive">
     <h1 class="title">Alterar senha</h1>
     <md-button class="button button-clear button-primary" ng-click="modal.change_password.hide()">Fechar</md-button>
   </ion-header-bar>
   <ion-content class="padding">
     <input type="password" ng-model="form.password" placeholder="Senha" required/>
     <input type="password" ng-model="form.confirm_password" placeholder="Senha" required/>
     <md-button class="button button-clear button-primary" ng-click="modal.change_password.hide()">ok</md-button>
   </ion-content>
 </ion-modal-view>
</script>

<script id="templates/modal.html" type="text/ng-template">
 <ion-modal-view>
   <ion-header-bar class="bar bar-header bar-positive">
     <h1 class="title">{{message_modal}}</h1>
     <md-button class="button button-clear button-primary" ng-click="modal.login_fail.hide()">Fechar</md-button>
   </ion-header-bar>
   <ion-content class="padding">
    <p align="center">{{message_modal}}</p>
  </ion-content>
</ion-modal-view>
</script>

<script id="error-list.html" type="text/ng-template">  
  <div class="error" ng-message="required">
    <i class="ion-information-circled"></i> 
    <b color="red">Campo obrigatório.</b>
  </div>
  <div class="error" ng-message="minlength">
    <i class="ion-information-circled"></i> 
    Preencha ao menos 5 caracteres.
  </div>
  <div class="error" ng-message="maxlength">
    <i class="ion-information-circled"></i> 
    Preencha no máximo 20 caracteres.
  </div>
  <div class="error" ng-message="email">
    <i class="ion-information-circled"></i> 
    Entre com um E-mail válido.
  </div>
</script>  

</ion-content>
</ion-nav-view>







