<ion-view>
  <ion-content ng-class="{expanded:$scope.isExpanded}" has-header="true" has-footer="true" direction="y" class="has-footer">
  	<h4 class="content padding double-padding-x">Campanhas</h1>
    <md-content>
      <md-list class="listdemoListControls">
        <md-list-item class="noright" ng-repeat="data in vm.data" ng-click="vm.openAdvertising(data)">
          <img ng-src="{{data.image}}" class="md-avatar">
          <h3 style="margin-top: 20px;"">{{data.title}}</h3>
          <span class="badge badge-assertive md-secondary assertive-advertising">+{{vm.data.amount}}</span>
        </md-list-item>
      </md-list>
    </md-content>
  </ion-content>
</ion-view>



