body {
  
}
.slider {
  /*height: 100%;*/
}
.slider-slide {
  color: #000;
  background-color: #fff;
  text-align: center;
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}


ion-slide {
    position: relative;

}

ion-slide p {
  bottom: 5%;
  color: white;
  font-size: 1.1em;
  font-weight:300;
/*  padding: 0.25em 0.75em;*/
  left: 10%;
  right: 10%;
  margin-left: auto;
  margin-right: auto;
  position:absolute;
 
}

.opacity-wrapper{
    position: relative;
}

.opacity-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.6);
}

.box-cat-1{
  height: 400px;
}
.box-cat-1 img{
  height: 100%;
  width: inherit;
}
.box-cat-2{
  height: 200px;
}
.box-cat-2 img{
  height: 100%;
}