/* General
==================================*/
h1 {
  color: #fff;
  text-shadow: 0 1px 0px #000;
  font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
  border-top: solid 2px #bbb;
  padding-top: 30px;
}

p {
  color: black;
  margin: 0 0 25px;
}

.p-login{
  color: rgba(250, 250, 250, 0.58) !important;

}

.scroll {
  height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
  transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
  background-color: #1b5e20;
}

.menu h2 {
  bottom: 0;
  font-size: 18px;
  left: 16px;
  position: absolute;
}

.menu .avatar {
  height: 88px;
  width: 88px;
}

.menu.menu-left * {
  font-weight: bold;
}

.menu-open .ion-navicon {
  transform: rotate(-360deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
  content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
  background-color: #fff;
  background: url('../img/crown.jpg') center;
  background-size: cover;
  border-radius: 50%;
  height: 125px;
  margin: 0 auto;
  width: 125px;
}

.social-login {
  position: fixed;
  bottom: 0;
}

.slider { height: 100%; text-align: center }


.my-box{
  float: left;
  position: relative;
}
.my-box-dir{
  float: right;
  position: relative;
}

.cat-cup-item{
  padding: 1px;
}

.item-avatar-center,.item-avatar-center .item-content{min-height:72px}.item-avatar-center .item-content .item-image,.item-avatar-center .item-content>img:first-child,.item-avatar-center .item-image,.item-avatar-center>img:first-child{margin:10px auto;max-width:70px;max-height:70px;width:100%;height:100%;border-radius:50%;display:block}

.error-container {
  margin: 5px 0;
}

.error-container:last-child {
  margin: 5px 0 0;
}

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}

.nome-hora{
  margin-left: 5px;
  margin-top: -5px;
}
.title-cup h5{
  margin-bottom: 0.7rem;
}

.titulo-ban{
  margin-top: 60px;
}
.verde{
  color: #5EB346;
}
.hover-glass{
  top: 1px!important;
  right: 1px!important;
  left: 1px!important;
  bottom: 1px!important;
}
.box{
  background-color: #333;
}
.box img{
  opacity: 0.6;
}
.opacity-wrapper{
  margin-bottom: 2px;
}
.slider-pager .slider-pager-page{
  color: #fff!important;
}

.boxes-cat {
  /*height: 200px;*/
  width: 50%;
  align-items: flex-start;
}
.boxes-cat img{
  display: block;
  height:100%;
  object-fit: cover;
}

#map {
  width: 100%;
  height: 100%;
}

.map  {
  position:absolute;
  width: 100%;
  height: 100%;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme 
{
  color: white; 
}

md-sidenav.md-locked-open.rightnav,
md-sidenav.md-locked-open-remove.md-closed.rightnav,
md-sidenav.md-locked-open.md-closed.rightnav,
md-sidenav.md-locked-open.md-closed.rightnav 
{
 min-width: 200px !important;
 width: auto !important;
 max-width: 700px !important;
 background-color: #10123B;
 border-left: 2px solid #38ddcc;
 height : 100%;
 position: absolute;
}

md-sidenav.md-locked-open, 
md-sidenav.md-locked-open-remove.md-closed, 
md-sidenav.md-locked-open.md-closed, 
md-sidenav.md-locked-open.md-closed.md-sidenav-left
{
 min-width: 50px !important;
 width: auto !important;
 max-width: 700px !important;
 background-color: #10123B;
 border-left: 2px solid #38ddcc;
 height : 100%;
 position: absolute;
}


md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}
.user-avatar {
  border-radius: 99%;
}


.listdemoListControls md-divider {
  margin-top: 0;
  margin-bottom: 0; }

  .listdemoListControls md-list {
    padding-top: 0; }

    .listdemoListControls md-list-item > p,
    .listdemoListControls md-list-item > .md-list-item-inner > p,
    .listdemoListControls md-list-item .md-list-item-inner > p,
    .listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
      -webkit-user-select: none;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;
    }

    .card {
     width: 100%;
     height:auto;
     background-color:white;
     border-radius: 4px;
   }
   .md-card-image { /*coz image borders are not automatically curved*/
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
   }

   .list .card:last-child{
    margin-bottom:400px !important; 
  }

  .promotion-page{
    
  }


  .md-accordion .expandCollapse { width:30px; height:30px; position:relative; font-size:20px; font-weight:bold; cursor:pointer; color:#fff; display:block; margin-top: -2px; margin-left: -2px; overflow:hidden; } 
  .md-accordion .expandCollapse:active { border:0px; }
  .md-accordion .expandCollapse:before, .md-accordion .expandCollapse:after { width:30px; height:30px; display:block; position:absolute; top:0; left:0; line-height:32px; text-align:center; -webkit-transition: .3s all ease-out; transition: .3s all ease-out; }
  .md-accordion .expandCollapse:before { opacity:1 -webkit-transform: rotate(0deg); transform: rotate(0deg); content: "|"; margin-top:-3px; }
  .md-accordion .expandCollapse:after { opacity:1; -webkit-transform: rotate(-90deg); transform: rotate(-90deg); content: "|"; margin-left:-3px; }
  .md-accordion .active:before { opacity:1; -webkit-transform: rotate(90deg); transform: rotate(90deg); margin-left:3px; margin-top:0px; }
  .md-accordion .dataContent { background: #F2F2F2; height:0px; overflow:hidden; -webkit-transition: .3s all ease-out; transition: .3s all ease-out; }
  .md-accordion .activeContent { height:60vh; padding:0; display:block; }
  .md-accordion md-toolbar{ cursor:pointer; border-bottom:1px solid rgb(63,107,181) }


  .md-card{
    margin-top: 12px;
    margin-bottom: 8px;
    margin-right: 16px;
    margin-left: 10px;
    border-radius: 50%;
    box-sizing: content-box;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    width: 180px;
    height: 180px;
  }

  .md-card-menu{
    margin-top: 12px;
    margin-bottom: 8px;
    margin-right: 16px;
    margin-left: 10px;
    border-radius: 50%;
    box-sizing: content-box;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    width: 80px;
    height: 80px;
  }

  .h4-profile{
    font-size: 2.4rem !important;
    line-height: 1.35 !important;
    letter-spacing: -.08rem !important;
    margin-bottom: 1.5rem !important;
    color: #000;
    font-weight: 500;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  }

  .assertive-advertising {
    background-color: #3a74ef !important;
    color: #fff !important; 
  }

  .assertive-promotion {
    background-color: rgba(226, 241, 86, 0.58) !important;
    color: #fff !important; 
  }
  .bg-green{
    color: #fff;
    border-color: #8eca3f;
    background: #9cd159;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(156, 209, 89);
  }

.over-pane {
  &:first-child  {
    overflow: hidden;
    position: fixed;
    background-color: #DADBDD;
    margin-top: 20px;
    border-top: 1px solid #B2B2B2;
  }
}

md-input-container {
    width: 100%;
}

.md-button-login{
  width: 100% !important;
  background-color: rgb(250,250,250) !important;
  color: rgb(76,175,80) !important;
}